* {
    padding: 0;
    margin: 0;
}

/*Fondo https://codepen.io/edmundojr/pen/xOYJGw */
body {
	background:
		linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
		linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
		$dot-color;
	background-size: $dot-space $dot-space;
}